body {
    background-color: #a855f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

span {
    position: relative;
    top: 20px;
    color: white;
    display: inline-block;
    font-size: 5rem;
    text-shadow: 0 1px 0 #b7b7b7, 0 2px 0 #b7b7b7, 0 3px 0 #b7b7b7,
        0 4px 0 #b7b7b7, 0 5px 0 #b7b7b7, 0 6px 0 transparent,
        0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent,
        0 10px 10px rgba(0, 0, 0, 0.5);
    animation: bounce 0.4s ease infinite alternate; /* alternate: 애니메이션이 한 번 끝나면 다시 반대 방향으로 실행 */
}

/* nth-child(n): 부모 요소 안에서 n번째 자식 요소를 선택할 수 있게 해주는 CSS 의사 클래스 */
h1 span:nth-child(2) {
    animation-delay: 0.1s;
}

h1 span:nth-child(3) {
    animation-delay: 0.2s;
}

h1 span:nth-child(4) {
    animation-delay: 0.3s;
}

h1 span:nth-child(5) {
    animation-delay: 0.4s;
}

h1 span:nth-child(6) {
    animation-delay: 0.5s;
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
            0 5px 0 #ccc, 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
            0 60px 30px rgba(0, 0, 0, 0.3);
    }
}
