:root {
    /* 변수명 앞에 --를 붙이면 CSS 변수로 인식 */
    /* 선언한 변수는 var() 함수로 불러올 수 있음 */
    --soluna-adaptive-size: 5rem;
    --soluna-width: 3em;
    --soluna-height: 1.5em;
    --soluna-border-radius: 1em;
    --soluna-transition: 0.4s;
    --soluna-transform-x-offset: 1.5em;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.soluna-container {
    font-size: var(--soluna-adaptive-size);
    border-radius: var(--soluna-border-radius);
    width: var(--soluna-width);
    height: var(--soluna-height);
    overflow: hidden;
}

.soluna-container::before {
    content: "";
    position: absolute;
    width: var(--soluna-width);
    height: var(--soluna-height);
    z-index: 1;
    box-shadow: inset 2px 4px 5px 4px rgba(0, 0, 0, 0.6),
        1px 1px 3px 0px rgba(255, 255, 255, 0.6),
        inset 0px -1px 5px -2px rgba(0, 0, 0, 0.6);
    pointer-events: none; /* 마우스 이벤트 무시하는 속성 */
    border-radius: var(--soluna-border-radius);
}

.soluna-container .toggler {
    position: relative;
    height: var(--soluna-height);
    display: block;
    cursor: pointer;
}

.soluna-container .toggler input {
    opacity: 0;
    width: 0;
    height: 0;
}

.soluna-container .sky-container {
    position: absolute;
    width: 3em;
    height: 3em;
    bottom: 0;
    background: linear-gradient(
        180deg,
        rgba(28, 31, 44, 1) 20%,
        rgba(56, 121, 179, 1) 80%
    );
    display: grid;
    transition: var(--soluna-transition);
}

/* + (인접 형태 선택자): A 바로 뒤에 위치한 형제 요소 B만 선택함 */
.soluna-container .toggler input:checked + .sky-container {
    transform: translateY(1.5em);
}

.soluna-container .star {
    position: absolute;
    background: lightblue;
    /* clip-path: 요소를 지정한 도형 모양대로 잘라내는 속성 (나머지 영역은 안 보임) */
    clip-path: polygon(
        50% 0%,
        65% 35%,
        100% 50%,
        65% 65%,
        50% 100%,
        35% 65%,
        0% 50%,
        35% 35%
    );
}

.soluna-container .big-star {
    width: 0.2em;
    height: 0.2em;
}

.soluna-container .medium-star {
    width: 0.12em;
    height: 0.12em;
}

.soluna-container .little-star {
    width: 0.08em;
    height: 0.08em;
}

.soluna-container .star:nth-child(1) {
    left: 0.6em;
    top: 0.15em;
}

.soluna-container .star:nth-child(2) {
    left: 1.5em;
    top: 0.35em;
}

.soluna-container .star:nth-child(3) {
    left: 0.3em;
    top: 0.5em;
}

.soluna-container .star:nth-child(4) {
    left: 0.7em;
    top: 0.7em;
}

.soluna-container .star:nth-child(5) {
    left: 1.2em;
    top: 1em;
}

.soluna-container .star:nth-child(6) {
    left: 0.3em;
    top: 1.1em;
}

.soluna-container .star:nth-child(7) {
    left: 0.5em;
    top: 1em;
}

.soluna-container .star:nth-child(8) {
    left: 0.7em;
    top: 1.2em;
}

.soluna-container .star:nth-child(9) {
    left: 1.1em;
    top: 0.8em;
}

.soluna-container .star:nth-child(10) {
    left: 1.3em;
    top: 0.3em;
}

.soluna-container .star:nth-child(11) {
    left: 1.5em;
    top: 0.9em;
}

.soluna-container .background-clouds {
    position: relative;
    top: -0.2em;
    right: 0.2em;
    height: 100%;
}

.soluna-container .cloud {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
}

.soluna-container .background-clouds .cloud {
    background: rgb(177, 232, 255);
}

.soluna-container .front-clouds .cloud {
    background: white;
}

.soluna-container .cloud:nth-child(1) {
    bottom: 0.2em;
    right: -0.4em;
}

.soluna-container .cloud:nth-child(2) {
    bottom: -0.2em;
    right: -0.2em;
}

.soluna-container .cloud:nth-child(3) {
    bottom: -0.6em;
    right: 0.4em;
}

.soluna-container .cloud:nth-child(4) {
    bottom: -0.7em;
    right: 0.8em;
}

.soluna-container .cloud:nth-child(5) {
    bottom: -0.6em;
    right: 1.4em;
}

.soluna-container .cloud:nth-child(6) {
    bottom: -0.7em;
    right: 1.8em;
}

.soluna-container .halo-container {
    position: absolute;
    bottom: -0.8em;
    left: -0.8em;
    transition: var(--soluna-transition);
}

.soluna-container .toggler input:checked ~ .halo-container {
    transform: translate(var(--soluna-transform-x-offset));
}

.soluna-container .light-halo {
    border-radius: 50%;
    padding: 0.4em;
    display: block;
    background: hsla(0, 0%, 100%, 0.05);
}

.soluna-container .light-halo.inner {
    width: 1.5em;
    height: 1.5em;
}

.soluna-container .toggle {
    clip-path: circle(0.5em at 0.75em 0.75em);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: var(--soluna-transition);
    top: 0;
}

.soluna-container .toggler input:checked ~ .toggle {
    clip-path: circle(0.5em at 2.25em 0.75em);
}

.soluna-container .sun-container,
.soluna-container .moon-container {
    box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75) inset,
        -10px -10px 5px 0px rgba(72, 72, 72, 0.75) inset;
}

.soluna-container .sun-container {
    height: 1em;
    width: 1em;
    background: #fbff08;
    border-radius: 50%;
    position: absolute;
    left: 0.25em;
    bottom: 0.25em;
    transition: var(--soluna-transition);
}

.soluna-container .toggler input:checked ~ .toggle .sun-container {
    transform: translate(var(--soluna-transform-x-offset));
}

.soluna-container .moon-container {
    position: absolute;
    height: 1em;
    width: 1em;
    right: 0.25em;
    bottom: 0.25em;
    background: lightgray;
    border-radius: 50%;
}

.soluna-container .moon-crater {
    width: 0.25em;
    height: 0.25em;
    background: rgb(112, 111, 111);
    border-radius: 50%;
    position: absolute;
    box-shadow: 10px 10px 5px 0px rgba(72, 72, 72, 0.75) inset;
}

.soluna-container .moon-crater.large {
    width: 0.4em;
    height: 0.4em;
}

.soluna-container .moon-crater:nth-child(1) {
    top: 0.1em;
    left: 0.4em;
}

.soluna-container .moon-crater:nth-child(2) {
    top: 0.4em;
    left: 0.1em;
}

.soluna-container .moon-crater:nth-child(3) {
    bottom: 0.2em;
    right: 0.2em;
}
